@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
  background-color: rgba(224,232,255,255);
  background-image: url(img/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  
}

 .container{
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100vw;
   height: 100vh;
}

.content-card{
    background-color: #ffffff;
    width: 370px;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    
}

.box-image-hero{
    width: 370px;
    height: 180px;
}

.box-image-hero img{
    width: 100%;
    height: 100%;
}

.titulo h2{
    text-align: center;
    font-weight: 900;
    padding-top: 40px;
}

.content-paragraph p{
    text-align: center;
    color: #9ba1ac;
    font-size: 17px;
    line-height: 24px;
    padding-top: 10px;
    font-weight: 500;
}

.informations{
    display: flex;
    justify-content: center;
    background-color: #f8f9fe;
    align-items: center;
    padding: 10px;
    margin: 0 35px;
    gap: 20px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 15px;
    
}

.btn,.cancel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button{
    min-width: 290px;
    height: 40px;
    background-color: rgba(56,42,225,255);
    color:#edeaff ;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 11px 15px 5px #dfdbf6 ;
    cursor: pointer;
}

.btn{
    padding-top: 25px;
}

.change a{
    color: #5b4fbe ;
    margin-left: 37px;
    font-weight: 900;
    font-size: 12px;

}

.cancel a{
    color: #767573;
    text-decoration: none;
    margin-top: 20px;
}

.titulo h2{
    color: #1b263c;
}

.content-plan h4{
    font-weight: 900;
}

.content-plan p{
    color: #8c91a1;
    font-size: 14px;
}

.icon-music img{
    width: 37px;
    height: 37px;
}

.content-plan h4 {
    margin-bottom: 2px;
    margin-right: 10px;
}

/*media query*/

@media (min-width: 375px) and (max-width: 785px){
    body{
        background-image: url(img/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .content-card{
        width: 330px;
    }

    
    .content-plan h4{
       display: block;
       margin: auto;
       
    }

    .content-paragraph p{
        font-size: 15px;
        
    }

    
}


/*media query 371px*/

@media (min-width: 371px) and (max-width: 785px){
    body{
        background-image: url(img/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .content-card{
        width: 320px;
    }

    .box-image-hero{
        width: 320px;
        height: 180px;
    }

    .content-plan h4{
     display: block;
     margin: auto;
    }

    .content-paragraph p{
        font-size: 14px;
    }

}


/*media query 367*/
@media (min-width: 367px) and (max-width: 785px){
    body{
        background-image: url(img/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .content-card{
        width: 330px;
    }

    .box-image-hero{
        width: 330px;
        height: 180px;
    }

    .content-plan h4{
        display: block;
        margin: auto;
    }

    .content-paragraph p{
       font-size: 15px;
    }
}

/*media query 355*/

@media (min-width: 355px) and (max-width: 785px){
    body{
        background-image: url(img/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .content-card{
        width: 320px;
    }

    .box-image-hero{
        width: 320px;
        height: 180px;
    }

    .content-plan h4{
        display: block;
        margin: auto;
        font-size: 12px;
        
    }

    .content-paragraph p{
        font-size: 14px;
    }

    .content-plan p{
        font-size: 12px;
        display: block;
    }
}











