@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: rgba(13,26,45,255);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgba(21,39,63,255);
    max-width: 100vw;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 8px rgb(12,25,44),0px 4px 15px 42px #0C192C;
}

.content-card{
    width: 300px;
    height: 536px;
   
}

.img-box{
    width: 300px;
    position: relative;
   
}

.img-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.avatar-box{
    display: flex;
    gap: 0.9rem;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
}

.avatar-box img{
    width: 30px;
    border: 0.1rem solid white;
    border-radius: 50%;
    margin-top: 0.2rem;
}

.titulo-principal{
    margin: 1.2rem 0;
    color: #F9FFFF;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.text{
    margin: 0.6rem 0;
    color: #86A1BF;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.icon-1 span{
   color: #14FDFA;
   font-weight: 900;
}

.icon-2 span{
    color: #81A0CC;
    font-weight: 900;
}

.avatar-box span{
    color: #F2FBFF;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.avatar-box p{
    color: #677fa1;
}

.linha{
    position: relative;
}

.linha::before{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 160%;
    background-color: #293b53;
}


.avatar-box span:hover{
    color: #1fb9c0 ;
    transition: 0.4s ease-in-out;
}
 
.titulo-principal:hover{
    color: #13f9f5;
    transition: 0.4s ease-in-out;
}

.active:hover::after{
    content: url('img/icon-view.svg');
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(120, 236, 254, 0.5);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.icon-1 #iconeOne{
   margin-left: 1.1rem;
}

.icon-1 label{
    position: relative;
}

.icon-1 label img{
    position: absolute;
}

.icon-2 label{
    position: relative;
}

.icon-2 label img{
    position: absolute;
    right: 0.4rem;
    margin-top: 0.1rem;
}

/*media query*/

/*300px até 388px celulares menores*/
@media (min-width: 300px) and (max-width: 388px){
    .content-card{
        width: 250px;
        height: 480px;
    }

    .img-box{
        width: 250px;
    }
}






